## PYTHON CODES

## 1. Sum of complex numbers

In [1]:
a,b,c,d=int(input()),int(input()),int(input()),int(input())
print(complex(a,b)+complex(c,d))

1
2
3
4
(4+6j)

## 2.concatenate

In [ ]:
a,b = input().split()
print(a+b)
print(a+" "+b)

## 3.string multiplication

In [6]:
a,b=input(),int(input())
print(a*b)
print(a+str(b))

abc
3
abcabcabc
abc3

## 4.type

In [1]:
a=2
b="d"
c=3.00
d=1+2j
print(type(a), type(b) ,type(c), type(d))

<class 'int'> <class 'str'> <class 'float'> <class 'complex'>

## 5. backslash

In [44]:
print("whats \\ up?")
print(R"whats \\ up?")
print("hey","hello", sep='#', end='@')
a='abcdeklfjelkfewiof'
print('\n',a[1:3])#slicing
print(a[::-1])#reverse
print(a[1:7: 2])#skipping

whats \ up?
whats \\ up?
hey#hello@
 bc
foiwefklejflkedcba
bdk

In [34]:
for i in range(ord('@'),ord('A')):
    print(i)

64

# 29/7/19

## basic formatting

In [4]:
a=5
b=5.9
c='dffd'
print("%d %f     %s" %(a, b,c))

5 5.900000     dffd

In [6]:
print('{} {}'.format('one','two'))

one two

In [10]:
print('{} {}'.format(1,2.0))

1 2.0

In [13]:
a=5
b=5.9
c='dffd'
print('{2} {0}  {1}'.format(a,b,c))

dffd 5  5.9

In [40]:
print('hi %10s hi'%('test'))
print('hi{:>10} hi'.format('test'))
print('hi{:^10} hi'.format('test'))#for equal spacing
print('hi{:_>10} {:*<10}'.format('test','hi'))#For padding
print('{:.5}'.format('ohballe'))
print('yo {:10.5} yo'.format('ohballe'))

print('%.5s'%('testtest'))
v='{:.5}'.format('ohballe')
print(v)
wap which willl

hi       test hi
hi      test hi
hi   test    hi
hi______test hi********
ohbal
yo ohbal      yo
testt
ohbal

In [43]:
print('{:06.2f}'.format(3.14567890))

003.15

In [ ]:
#define no which are divisible by 7 but not are multiple of 5 bw 2000 to 3200. print thr no in the form of comma separted seq
#wap that calc and prints acc to the goven formula sqrt(2cd/h).the following fixed values of c=50,h=30,d=input().sample i/p 100,150,180 and o/p is 18,22,24.comma sep

In [50]:
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        if i == 3199:
            print(i)
        else:
            print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [58]:

import math
a,b,d=input().split(',')
c=50
h=30
q1=(2*c*h)/int(a)
q2=(2*c*h)/int(b)
q3=(2*c*h)/int(d)
ans=math.sqrt(q1)
ans1=math.sqrt(q2)
ans2=math.sqrt(q3)

print(ans)
print(ans1)
print(ans2)

100,150,180
5.477225575051661
4.47213595499958
4.08248290463863

### Q1 wap that accepts a comma sep words and print the words in comma seq after sorting them in alphabetical order

In [20]:
a=input().split(',')
for i in range(len(a)):
    for j in range(len(a)):
        if a[i]>a[j]:
            a[i],a[j]=a[j],a[i]
print(a)

ho,lo,ko,go
['lo', 'ko', 'ho', 'go']

### Q2 take an input from multiline string from user and wap to split a multiline string and print individual sstrings

### Q3 wap to generate abecedarcaan series. it is an series or list in which elements appear in alphabetical order.Take an input  from string ABCDEFGH and 'ate' and generate 'Aate' ,'Bate', 'Cate','Date'...etc

In [23]:
a=input("Enter a string ;")
b=input()
c=list(a)
for i in range(len(c)):
    for j in range(len(c)):
        if c[i]>c[j]:
            c[i],c[j]=c[j],c[i]
for i in range(len(c)):
    print(c[i]+b)

Enter a string ;sam
abc
sabc
mabc
aabc

### Q4 wap that accepts string from the user and redisplay the string after removing vowwels from it

In [9]:
a=input('Enter string: ')
for i in a:
    if i =='a' or i=='e' or i=='i' or i=='o'or i=='u':
        continue
    else:
        print(i,end=" ")

Enter string: abcde
b c d

### wap that finfds a given char is present in a string or not ; if yes then print the index at which it is present; Do not use built in find fn

In [26]:
a=input("String: ")
b=input("character")
for i in range(len(a)):
    if a[i]==b:
        print("char found at " ,i)

String: samrth
characterr
char found at  3

### wap that counts  the occurences of a char in a string without using count fn;

In [27]:
a=input("String: ")
b=input("character")
c=0
for i in range(len(a)):
    if a[i]==b:
        c=c+1
print(c)

String: samarth
charactera
2

### wap to count the no of char in a string

In [1]:
from collections import Counter

a=input("Enter String: ")

z=Counter(a)

print(z)

Enter String: google
Counter({'g': 2, 'o': 2, 'l': 1, 'e': 1})

### wap to get  string from a gven string where all occurrences of its first character have been changed to dollar except the first char itself

In [11]:
a=input("Enter String ;")
c=a[0]
b=a[0]+a[1:].replace(c,'$')
print(b)

Enter String ;resrttrtr
res$tt$t$

In [18]:
a=input("Enter ;")
b=list(a)
b[0],b[len(b)-1]=b[len(b)-1],b[0]
print(''.join(b))

Enter ;adh
hda

### wap to capitalize first and last letters of each word of a given string

In [13]:
b=input("Enter String :")
a=b.split(" ")
k=''
for i in a:
    k+=i[0].upper()+i[1:len(i)-1]+i[len(i)-1].upper()+" "
print(k)

Enter String :agf hho kk
AgF HhO KK

### wap that count the occurence of a string from a specified pos

### wap to parse an emailID to print from which email server it was sent and when

### wap to remove leading zeroes from an IP address

### 1 wap that creats a list of no from 1 to 20 that are either divisible by 2 or by 4

### 2 construct a list of sqquare of numbers from m to n and display its sum

### 3 create a list of number 1 to 10 and delete all even index no and display the result in a list

### 4 wap to print the index at which a particular value exist if the value exist at more than 1 location then print all the indexes and also count the no of times the value is repeated in the list

In [1]:
b=[]
for i in range(1,21):
    if i%2==0 or i%4==0:
        b.append(i)
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [2]:
m=int(input())
n=int(input())
sum=0
a=[]
for i in range(m,n+1):
    a.append(i**3)
    sum+=i**3
print(a)
print(sum)

2
8
[8, 27, 64, 125, 216, 343, 512]
1295

In [17]:
a=[]
for i in range(11):
    a.append(i)
for i in range(0,6,1):
    del a[i]
print(a)

[1, 3, 5, 7, 9]

In [24]:
a=[1,2,3,4,5,6,1,4,5,1,4,1]
sum=0
k=int(input())
for i in range(len(a)):
    if a[i]==k:
        print(i)
        sum+=1
print(sum)

1
0
6
9
11
4

### 1 join last name and first name of 2 list
### 2 take an input of words to form a list. generate an o/p list containing only the first chars.Extend the version of this code to produce a ist containing only unique entries that is case insensitive.
### 3 wap  to make a list of no's taking in view thr starting value and the ending value
### 4 reverse a list

In [4]:
a=[input() for i in range(int(input("Enter no: ")))]
b=[input() for i in range(int(input("Enter no: ")))]
c=[]
for i in range(len(b)):
    c.append(a[i]+" "+b[i])
c.extend(a[len(b):])
print(c)

Enter no: 4
sam
ram
gom
pop
Enter no: 3
yo
po
go
['sam yo', 'ram po', 'gom go', 'pop']

In [9]:
a=[input() for i in range(5)]
b=[]
for i in range(len(a)):
    b.append(a[i][0].lower())
print(set(b))

Python
Jython
java
Voo
coo
{'p', 'v', 'c', 'j'}

In [10]:
a=[]
for i in range(2,17,5):
    a.append(i)
print(a)

[2, 7, 12]

In [12]:
o=[input() for i in range(5)]
o.sort(reverse=True)
print(o)

dcd
frfwe
efef
ewref
ewfewf
['frfwe', 'ewref', 'ewfewf', 'efef', 'dcd']

### create a matrix

In [ ]:
a=[]
for i in range(3):
    b=[]
    for j in range(3):
        b.append(int(input()))
    a.append(b)
print(a)

### wap to find the list within a list of list whose sum of elements is highest
### wap to insert a given string at the beginning of all the items in a list

In [1]:
a=[]
for i in range(3):
    b=[]
    for j in range(3):
        b.append(int(input()))
    a.append(b)
c=[sum(a[i]) for i in range(len(a))]
print("max list is ; ",a[c.index(max(c))])

1
2
3
4
5
6
7
8
9
[6, 15, 24]
max list is ;  [7, 8, 9]

In [4]:
a=[input() for i in range(int(input("Enter no: ")))]
b=input() 
c=[]
for i in range(len(b)):
    c.append(b+a[i])
print(c)

Enter no: 4
1
2
3
4
emp
['emp1', 'emp2', 'emp3']

In [11]:
a=input()
print("".join(set(a)))

google
geol

In [6]:
lis=[1,2,3,4]
for indx,i in enumerate(lis):
    print(i, "is at index : ", indx)

1 is at index :  0
2 is at index :  1
3 is at index :  2
4 is at index :  3

In [13]:
quo, rem=divmod(100,3)#returns quotient and remainder
print(quo,  rem)

33 1

In [32]:
# wap that creates a list of 10 random no then create 2 lists odd and even list
import random
a=[random.randrange(1,80) for i in range(10)]
print(a)
even=[i for i in a if i%2==0]
odd=[i for i in a if i%2!=0]
print(even)
print(odd)

[33, 48, 2, 22, 23, 23, 50, 60, 4, 40]
[48, 2, 22, 50, 60, 4, 40]
[33, 23, 23]

In [45]:
# using list comprehension create a list of no's based on op'n (x+pow(x,y))/2m +3
def func():
    x,y,m=int(input()),int(input()),int(input())
    fun=(x+(x**y))/2*m +3
    return fun
a=[func() for i in range(3)]
print(a)

1
2
3
4
5
6
7
8
9
[6.0, 3087.0, 25941639.0]

In [50]:
# take an input until user enters 0 .scale each element by a factor of 10 and dissplay the original and original sorted then modified and modified sorted list
a=[]
while True:
    x=int(input())
    if x==0:
        break
    else:
        a.append(x)
b=sorted(a)
a1=[i*10 for i in a]
c=sorted(a1)
print(a)
print(b)
print(a1)
print(c)

4
2
8
6
2
0
[4, 2, 8, 6, 2]
[2, 2, 4, 6, 8]
[40, 20, 80, 60, 20]
[20, 20, 40, 60, 80]

In [17]:
# wap to split a list every mth element
a=[i for i in range(12)]
n=int(input())
b=[]
for i in range(12):
    for i in range(3):
        b.append(a[i])

In [18]:
# wap to convert a list of no's into single integer

In [19]:
# wap to create a list by concatenating a given list with range which goes from 1 to n

In [20]:
# select a no randomly from a list if the no is a prime no, add a functionality to automatically close your editor

### wap to get n copies of the first m chars of the string.return the n copies of the whole string if the entire string is from 
### mathematis teacher has given a task to geneerate a histogram from the given list of integers.take the  input  of the char using whichhistogram is to be produced
### wap to find unique triplets whose sum of elements give 0 from an array of elements
### wap that accepts a sequence of comma separated 4 digit binary no as its input and check whether they are divivsible by 5 or not. the nos that are divisible by 5 are to be printed as comma separated

In [2]:
s=input("Enter string")
n,m=int(input()),int(input())
if len(s)<m:
    n=n-len(s)
    print(s,end='_'*n)
else:
    print(s[:3]*n)

Enter stringim
8
3
im______

In [3]:
l=[1,4,5,3]
a=input()
for i in l:
    print(a*i)

$
$
$$$$
$$$$$
$$$

In [16]:
a=[int(input()) for i in range(int(input()))]
for i in a:
    for j in a:
        for d in a:
            if (i+j+d)==0 and i!=j!=d:
                print(i,j,d)
                br

4
2
1
-3
5
2 1 -3
2 -3 1
1 2 -3
1 -3 2
-3 2 1
-3 1 2

In [13]:
e=input().split(',')
a=[i for i in e]
z=int(input())
b=[int(i,2) for i in a]
for i in range(len(b)):
    if b[i]%z==0:
        print(a[i])

0100,1010,0011,1001
5
1010

In [7]:
# using nested list of tuples to store topper details edit the details and reprint the details.default value of toppers as given. the o/p should be in the required format. Enter the name of the student whose details are to be edited.
# Enter the correct name .course and percentage
toppers = [('aman','bsc',92),('ash','btech',92.7),('aryan','bca',91),('ank','bsc-hm',82.7)]
for i in toppers:
    print(i)
ques=input("Want to edit?? ")
if ques=='y':
    n=input('Enter name!!!')
    for i in range(len(toppers)):
        if toppers[i][0]==n:
            nn=input('New name!!!')
            co=input('Enter course!!!')
            per=int(input('Enter perc!!!'))
            toppers[i]=(nn,co,per)
print(toppers)

('aman', 'bsc', 92)
('ash', 'btech', 92.7)
('aryan', 'bca', 91)
('ank', 'bsc-hm', 82.7)
Want to edit?? y
Enter name!!!aman
New name!!!aa
Enter course!!!ss
Enter perc!!!33
[('aa', 'ss', 33), ('ash', 'btech', 92.7), ('aryan', 'bca', 91), ('ank', 'bsc-hm', 82.7)]

In [ ]:
# you are required to wap to sort the name,age,height ,tuples by ascending order where the name id str, height and age is no. the sorting criteria is 1 Sort based on name  2 sort based on age 3 sort by height
a=[]
n=int(input("Nter no of tuples!!!"))
for i in range(n):
    a.append((input("Enter name"),int(input("Enter age!!")),int(input("Enter height!!!"))))
b=sorted(a,key=lambda t: t[0])
print(b)

Nter no of tuples!!!3

In [3]:
#taking i/p of a default pargraph print freq of each word
from collections import Counter
a=input("Enter para!!!")
b=a.split()
c=Counter(b)
print(c)

Enter para!!!my my name name is di
Counter({'my': 2, 'name': 2, 'is': 1, 'di': 1})

### set methods

In [ ]:
s.update(t)
s.copy(t)
s.difference(t)
s.difference_update(t)
s.intersection(t)
s.intersection_update(t)
s.add(x)
s.remove(x)
s.discard(x)
s.symmetric_difference(t)
s.isdisjoint(t)
s.pop(x)
s.subset(t)
s.superset(t)

### dictionary methods

In [4]:
st={'name':'Student'}
st['marks']=99
print(st)

{'name': 'Student', 'marks': 99}

In [ ]:
dict.pop()
dict.popitem()#random deletion
#for i in dict:
#for i in dict.keys:
#for i in dict.values:
#for key,values in dict.items():
sorted()
len()
str()
str(dict)#typecasts dictionary into string
dict.copy()#returns shadow copy of the dictionary
dict.fromkeys(sequence(value))# typecast into dictionary
dict.get('')#returns value

In [3]:
#wap that has a dict of state and codes.add another state into the predefined dict. print all the items of the dictionary and try to print code for a state that does not exist
#wap that creates a dict of radius and correspondining circumference
#create 2 dict .one that stores conversion of values from m to cm and another for  cm to  m using dict comprehension

4

In [12]:
#a task is given to students to compute the combination of all combinations given in a dict
mapp={1:'abc',2:'def',3:'ghi',4:'jkl',5:'mno',6:'pqrs',7:'tuv',8:'wxy',9:'z'}
out=[]
q=int(input("Enter a 2 digit no"))
t=q%10
o=q//10
s1=""
s2=""
for k, v in mapp.items():
    if o==k:
        s1=v
    if t==k:
        s2=v
for i in range(len(s1)):
    for j in range(len(s2)):
        out.append(s1[i]+""+s2[j])
print(out)

Enter a 2 digit no45
['jm', 'jn', 'jo', 'km', 'kn', 'ko', 'lm', 'ln', 'lo']

In [11]:
#given a dynamic list of words entered by the user. generate a dict given as
a=[input() for i in range(int(input("Enter a no")))]
ddict = {}
for k in reversed(a):
    ddict = {k: ddict}
print(ddict)

Enter a no3
ss
rr
yy
{'ss': {'rr': {'yy': {}}}}